{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Contact Me</title>
      <meta name="keywords" content="website development, embedded systems, electronics, solar installation, electrical installation">
      <meta name="description" content="Learn more about Bamidele Samuel, a passionate professional with expertise in website development, electronics, and technology solutions.">
      <meta name="author" content="Bamidele Samuel">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- favicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
      <!-- fonts -->
      <link href="{% static 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap' %}" rel="stylesheet">
      <!-- font awesome css -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

   </head>
<body>
      <!-- header section start -->
      <div class="header_section header_bg">
         <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <div class="logo"><a href="index.html"><img src="{% static 'images/logo.png' %}"></a></div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'services' %}">Service</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
      <!-- header section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="contact_taital">My <span class="contact_taital_1">Contact</span></h1>
               </div>
            </div>
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-md-12">
                     <div class="mail_section_1">
                        <input type="text" class="mail_text" placeholder="Your Name" name="name" id="name">
                        <input type="email" class="mail_text" placeholder="Your Email" name="email" id="email">
                        <input type="text" class="mail_text" placeholder="Your Phone" name="phone" id="phone">
                        <textarea class="massage-bt" placeholder="Your Message" rows="5" id="message" name="message"></textarea>
                        <div class="send_bt">
                            <a href="mailto:samuelbamidele301@gmail.com?subject=Contact from {{ name }}&body=Name: {{ name }}%0D%0AEmail: {{ email }}%0D%0APhone: {{ phone }}%0D%0AMessage: {{ message }}">
                                Send Now
                            </a>
                        </div>
                    </div>
                    
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
      <!-- footer section start -->
      <div class="footer_section">
         <div class="container">
            <div class="location_text">
               <ul>
                  <li>
                     <a href="https://www.google.com/maps?q=Osun,+Nigeria" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                  </li>
                  <li>
                     <a href="tel:+2347063556355"><i class="fa fa-phone" aria-hidden="true"></i></a>
                  </li>
                  <li>
                     <a href="mailto:samuelbamidele301@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>   <!-- footer section end -->
<footer>
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text"></p>
      </div>
   </div>
</footer>
   <!-- Javascript files-->
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/popper.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
   <script src="{% static 'js/plugin.js' %}"></script>
   <!-- sidebar -->
   <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
   <script src="{% static 'js/custom.js' %}"></script>
   <script>
      document.querySelector('.copyright_text').textContent = 
         `${new Date().getFullYear()} All Rights Reserved. Design by Samtech`;
   
      $('#myCarousel').carousel({
         interval: false
      });
      //email section
      document.querySelector('.send_bt a').addEventListener('click', function(e) {
         var name = document.getElementById('name').value;
         var email = document.getElementById('email').value;
         var phone = document.getElementById('phone').value;
         var message = document.getElementById('message').value;
     
         var mailtoLink = `mailto:samuelbamidele301@gmail.com?subject=Contact from ${name}&body=Name: ${name}%0D%0AEmail: ${email}%0D%0APhone: ${phone}%0D%0AMessage: ${message}`;
         window.location.href = mailtoLink;
         e.preventDefault();
     });
      
      // Scroll slides on swipe for touch enabled devices
      $('#myCarousel').on('touchstart', function(event) {
         var yClick = event.originalEvent.touches[0].pageY;
         $(this).one('touchmove', function(event) {
            var yMove = event.originalEvent.touches[0].pageY;
            if (Math.floor(yClick - yMove) > 1) {
               $('.carousel').carousel('next');
            } else if (Math.floor(yClick - yMove) < -1) {
               $('.carousel').carousel('prev');
            }
         });
         $('.carousel').on('touchend', function() {
            $(this).off('touchmove');
         });
      });
   </script>
   
   </body>
</html>